* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

nav {
    display: flex;
    width: 20rem;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}