* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem;
    width: 900px;
    background-color: white;
}

nav {
    display: flex;
    width: 25rem;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    cursor: pointer;
}

nav a:hover, a:visited:hover {
    color: hsl(5, 85%, 63%);
}

nav a:visited {
    color: hsl(240, 100%, 5%);
}