main {
    gap: 1rem;
    width: 1000px;
    display: grid;
    padding: 0 1rem;
    overflow: hidden;
    background-color: hsl(36, 100%, 99%);
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'web3 web3 aside'
        'heading description aside'
        'one two three';
}

#mainImg {
    grid-area: web3;
    background-color: black;
    color: hsl(36, 100%, 99%);
    content: url("/assets/images/image-web-3-desktop.jpg");
    width: 100%;
}

h1 {
    grid-area: heading;
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.5rem;
}

div {
    grid-area: description;
}

div p {
    color: hsl(236, 13%, 42%);
    font-size: .89rem;
    margin-bottom: 1rem;
    line-height: 1.3rem;
}

div button {
    padding: 1rem;
    cursor: pointer;
    border: none;
    letter-spacing: .3rem;
    margin: 1rem 0;
    font-weight: 800;
    color: hsl(240, 100%, 5%);
    text-transform: uppercase;
    background-color: hsl(5, 85%, 63%);
}

div button:hover {
    color: hsl(36, 100%, 99%);
    background-color: hsl(240, 100%, 5%);
}

aside {
    grid-area: aside;
    color: hsl(36, 100%, 99%);
    padding: 1rem;
    background-color: hsl(240, 100%, 5%);
    height: fit-content;
}

aside h2 {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(35, 77%, 62%);
    margin: 1rem 0 1rem;
}

aside h3 {
    font-weight: 700;
    margin: 2rem 0rem 1rem;
}

aside h3:hover {
    color: hsl(35, 77%, 62%);
}

aside p {
    font-size: .75rem;
    color: hsl(236, 13%, 42%);
    margin-bottom: 1.5rem;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

.category {
    display: flex;
}

.category img {
    width: 120px;
    height: 120px;
    margin-right: 1rem;
}
.category span{
    font-size: 2rem;
    font-weight: 800;
    color: hsl(5, 85%, 63%);
}