main {
    gap: 1rem;
    width: 900px;
    display: grid;
    padding: 0 1rem;
    overflow: hidden;
    background-color: hsl(36, 100%, 99%);
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'web3 web3 aside'
        'heading description aside'
        'one two three';
}

#mainImg {
    grid-area: web3;
    background-color: black;
    color: hsl(36, 100%, 99%);
    content: url("/assets/images/image-web-3-desktop.jpg");
    width: 100%;
}

h1 {
    grid-area: heading;
    font-size: 2rem;
    font-weight: 800;
}

div {
    grid-area: description;
}

div p {
    color: hsl(236, 13%, 42%);
    font-size: .75rem;
    margin-bottom: 1rem;
}

div button {
    padding: 1rem;
    cursor: pointer;
    letter-spacing: .3rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: hsl(36, 100%, 99%);
    background-color: hsl(240, 100%, 5%);
}

aside {
    grid-area: aside;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}